---
- name: Install Docker on Ubuntu machine
  apt:
    name:
      - docker.io
    state: present
  become: yes

- name: Start Docker
  service:
    name: docker
    state: started
    enabled: yes
  become: yes
